<html lang='en'>
  <head>
    <meta charset='UTF-8' />
      <link rel='icon' type='image/png' href='https://drapcode-upload.s3.amazonaws.com/faviconKeyName' />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta property="og:type" content="website">
      <meta name="title" content="Signup/Register">
      <meta property="og:title" content="Signup/Register">
      <meta property="twitter:title" content="Signup/Register">
      <meta property="og:image" content="https://drapcode-upload.s3.amazonaws.com/projectLogoKeyName">
      <meta property="twitter:image" content="https://drapcode-upload.s3.amazonaws.com/projectLogoKeyName">
      <meta property="og:url" content="/signup.html">
      <meta property="twitter:url" content="/signup.html">
      <meta charset="UTF-8">
    <title>Signup/Register</title>
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="preload" href="https://asset.drapcode.com/css/googlefonts.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/googlefonts.css"></noscript>
      <link rel="stylesheet" href='https://drapcode-theme.s3.us-east-1.amazonaws.com/2281sa7ii4yeq2m2t04ir75neof3/bootstrap.min.css' crossorigin/>
      <link rel="stylesheet" href='https://drapcode-theme.s3.us-east-1.amazonaws.com/2281sa7ii4yeq2m2t04ir75neof3/dc-custom.min.css' crossorigin/>
      <link rel="preload" href="https://asset.drapcode.com/css/toastr.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/toastr.min.css"></noscript>
      <link rel="preload" href="https://asset.drapcode.com/css/sweetalert2.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/sweetalert2.min.css"></noscript>
      <link rel="preload" href="https://asset.drapcode.com/css/select2.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/select2.min.css"></noscript>
      <link rel="preload" href="https://asset.drapcode.com/css/flatpickr.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/flatpickr.min.css"></noscript>
      <link rel="preload" href="https://asset.drapcode.com/css/loader.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/loader.css"></noscript>
      <link rel="preload" href="https://asset.drapcode.com/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/all.min.css"></noscript>
      <link rel="preload" href="https://asset.drapcode.com/css/coloris.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="https://asset.drapcode.com/css/coloris.min.css"></noscript>
      <link rel='stylesheet' type='text/css' href='https://asset.drapcode.com/intl-tel-input/intlTelInput.min.css'>
      <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css'>
      <link rel='stylesheet' type='text/css' href='https://unpkg.com/dropzone@5/dist/min/dropzone.min.css'>
      <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css'>
      <link href='https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.css' rel='stylesheet'>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/timepicker@1.14.1/jquery.timepicker.min.css" />
      <link rel="stylesheet" href='https://drapcode-theme.s3.us-east-1.amazonaws.com/2281sa7ii4yeq2m2t04ir75neof3/c56ead7a-bccb-4608-a043-15d8eef6bded_main.css' crossorigin/>
      <link rel="stylesheet" href='https://drapcode-theme.s3.us-east-1.amazonaws.com/2281sa7ii4yeq2m2t04ir75neof3/5fc855c8-f269-4939-9d10-6a4407812610_lineicons.css' crossorigin/>
      <link rel="stylesheet" href='https://drapcode-theme.s3.us-east-1.amazonaws.com/2281sa7ii4yeq2m2t04ir75neof3/08b44a00-b78a-4e2d-ad96-ede974171200_materialdesignicons.min.css' crossorigin/>
      <link rel="stylesheet" href='https://cdn.lineicons.com/4.0/lineicons.css' crossorigin/>
      <link rel="stylesheet" href='https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css' crossorigin/>
      <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css" />
      <link rel='stylesheet' type='text/css' href=/static/2281sa7ii4yeq2m2t04ir75neof3/invoice-financing7454-custom.min.css>
      <script>
      console.log('==> Going to remove __ssr_ keys from session storage...');
      Object.keys(window.sessionStorage).map(sessionKey => {
        if(sessionKey.startsWith('__ssr_')) {
        window.sessionStorage.removeItem(sessionKey);
        }
      })
    </script>
      <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      window.localStorage.setItem('loadingIconKey', 'PLACEHOLDER')
  });
    </script>
      <script src='https://drapcode-theme.s3.us-east-1.amazonaws.com/2281sa7ii4yeq2m2t04ir75neof3/bootstrap.bundle.min.js' defer></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/jquery.min.js"></script>
      <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js" integrity="sha256-sw0iNNXmOJbQhYFuC9OF2kOlD5KQKe1y5lfBn4C9Sjg=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/popper.min.js" defer></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/feather.min.js" defer></script>
      <script>
   async function signUP(t,n={}){let a,r,e;t&&(a=t.target||t.srcElement,r=t.currentTarget,t.preventDefault(),e=a&&a.id?$("#"+a.id):"");t=!t||"submit"!==t.type||e&&e.valid()&&0===e.validate().pendingRequest;let s,o;if(e&&(s=e.find(":button[type=submit]"),o=s.html()),t){t=(a||{}).dataset;let e=!1;if(e=t&&t.hasOwnProperty("preventDblclick")?!0:e){let e=5e3;t.hasOwnProperty("disableDuration")&&"number"==typeof Number(t.disableDuration)&&(e=Number(t.disableDuration)),a.style.pointerEvents="none",a.style.opacity="0.5",setTimeout(()=>{a.style.pointerEvents="auto",a.style.opacity="1"},e)}s&&s.prop("disabled",!0),s&&s.empty().append("<i class='fa fa-spinner fa-spin'></i>");var l;try{l=await saveUserWithCollectionReference({parameters:{collection:"organisation",userRefField:"tenantId",userRole:"Tenant Admin",successMessage:"User Successfully Created",errorMessage:"Error",enableLoginUser:"",redirectUrl:"",passPreviousActionFormData:"",formDataSessionKey:"",formDataBrowserStorageLocation:"SESSION_STORAGE",passPreviousActionResponse:"",responseDataSessionKey:"",responseDataSessionStorageLocation:"SESSION_STORAGE",enableConsoleLog:"",startConsoleLog:"",endConsoleLog:""},response:"",element:a,targetElement:r,url_params:n,defaultEnabled:!0,externalSource:"",enabledEnvironments:[],actionLabel:"Create User along with Collection (Parent)"}),console.log(l),l&&"error"===l.status?(s&&s.prop("disabled",!1),s&&s.html(o)):(l=await goToPage({parameters:{destination:"/login",sendCurrentObjectID:"",sendPreviousStepParentCollectionId:"",sendCurrentPageItemId:"",sendCurrentUserId:"",sendCurrentPageReferenceItemId:"",isNewTab:"",collection:"",referenceField:""},response:l?l.data:"",element:a,targetElement:r,url_params:n,defaultEnabled:!0,externalSource:"",enabledEnvironments:[],actionLabel:"Page Redirect"}),console.log(l),s&&s.prop("disabled",!1),s&&s.html(o))}catch(i){s&&s.prop("disabled",!1),s&&s.html(o),console.log("error",i)}}else console.log("I am submit event and not valid")}
</script>
      <script>
   async function login(a,t={}){let n,r,e;a&&(n=a.target||a.srcElement,r=a.currentTarget,a.preventDefault(),e=n&&n.id?$("#"+n.id):"");a=!a||"submit"!==a.type||e&&e.valid()&&0===e.validate().pendingRequest;let s,l;if(e&&(s=e.find(":button[type=submit]"),l=s.html()),a){a=(n||{}).dataset;let e=!1;if(e=a&&a.hasOwnProperty("preventDblclick")?!0:e){let e=5e3;a.hasOwnProperty("disableDuration")&&"number"==typeof Number(a.disableDuration)&&(e=Number(a.disableDuration)),n.style.pointerEvents="none",n.style.opacity="0.5",setTimeout(()=>{n.style.pointerEvents="auto",n.style.opacity="1"},e)}s&&s.prop("disabled",!0),s&&s.empty().append("<i class='fa fa-spinner fa-spin'></i>");var o;try{o=await loginUser({parameters:{redirectRules:[{role:"Super Admin",page:"/super-admin-dashboard"},{role:"Tenant Admin",page:"/tenant-admin-dashboard"},{role:"Super Admin Team Member",page:"/team-member-dashboard",successMessage:"Team Member Login"},{role:"Tenant Employee",page:"/tenant-employee-dashboard",successMessage:"Tenant Team Member Login"}]},response:"",element:n,targetElement:r,url_params:t,defaultEnabled:!0,externalSource:"",enabledEnvironments:[],actionLabel:"Log the user in"}),console.log(o),s&&s.prop("disabled",!1),s&&s.html(l)}catch(i){s&&s.prop("disabled",!1),s&&s.html(l),console.log("error",i)}}else console.log("I am submit event and not valid")}
</script>
    <style>
      .error { border-color: red; color: red; }
    </style>
      <style>* { box-sizing: border-box; } body {margin: 0;}#iv96{padding:0 0 0 0;min-height:auto;}#vDNo{padding:0 0 0 0;margin:0 0 0 0;}#ix4ag{padding:0 0 0 0;margin:5px 0 0 0;}#ioc68{margin:0 10px 0 0;}#icg3{height:100vh;}#ij91o{font-size:16px;}#i7wgq{font-size:16px;}#irsy4{padding:0 0 0 0;height:auto;width:auto;}#i5o7h{font-size:16px;}#ilulx{font-size:16px;}#ikfwq{background-color:transparent;}#ibgah{height:100vh;}#ihc6j{padding:0 0 0 0;height:auto;width:auto;}#i9pii{padding:0 0 0 0;margin:5px 0 0 0;}#iarkk{padding:0 0 0 0;margin:5px 0 0 0;}#ioq6s{font-size:16px;}#i118z{font-size:16px;}#ich2s{padding:0 0 0 0;min-height:auto;}#iimqd{font-size:16px;margin:0 0 0 0;width:auto;}#ima1d{margin:0 0 0 0;}#i2tvg{cursor:pointer;text-decoration:underline;font-weight:600;}#ij3mf{font-weight:600;cursor:pointer;text-decoration:underline;}#iz3xi{padding:0 12px 0 12px;height:auto;width:auto;}#ig30n{margin:20px 0 20px 0;}#igfvy{color:rgb(102, 102, 102);font-weight:500;margin:0 0 0 0;}#i535c{padding:0 0 0 0;height:auto;width:auto;}#iqdjf{font-weight:400;}#i3vej{padding:0 0 0 0;height:auto;width:auto;}#ikszq{margin:0 0 0 0;}#i891g{display:block;padding:5px 15px 5px 15px;height:auto;width:auto;cursor:pointer;text-decoration:none;}#i0ym9{margin:0 0 0 0;font-weight:500;}#igs5o{width:auto;display:block;}</style>
      <style>undefined</style>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body dir='ltr'>
    
    <span id='project-timezone' style='display:none;'>0</span>
    <span id='dateTimeFormat' style='display:none;'>YYYY-MM-DD</span>
    <section data-js="drapcode-sections" id="iv96" class="dc-sections">
        <div id="i0bn" class="container"><div id="it3p" class="row"><div id="icg3" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex align-items-center justify-content-center">
    <div id="ihc6j" class="box"><div id="i535c" class="box"><div id="i3vej" class="box d-flex align-items-center justify-content-between"><h1 id="ikszq" class="maintextcolor">Get Started Now</h1><a data-disable-duration="5000" id="i891g" data-page-slug="/home" data-selected-page-collection="" target="" href="/home" data-path-collection-item-id-from="" class="link-box d-flex align-items-center gap-2 mysecondary-btn texthovereffect"><i data-js="drapcode-icons" id="igs5o" class="drapcode-icons">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-gjs="drapcode-icons-svg" draggable="false" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12">
  </line><polyline points="12 19 5 12 12 5">
  </polyline></svg></i><h1 id="i0ym9" class="text20">Home</h1></a></div><h6 id="iqdjf" class="maintextcolor mt-3">Enter your credentials to create your account</h6></div><form onsubmit="return signUP(event)" data-form-collection="user" data-js="sign-up-form" id="vDNo" data-form-validation="4cb32b53-177b-46f9-b263-6274ec224ae6" class="form sign-up-form dc-form-bordered input-style-1 bordernone dc-form-default mt-4">
        
        <div draggable="false" id="ikfwq" class="form-container row mx-auto gap-3 d-flex"><div id="iarkk" class="form-group col-12 col-md-12"><label for="name" id="i118z" class="label">Name</label><input type="text" name="name" value="" placeholder="Please enter name" maxLength="200" id="ioq6s" class="input form-control rounded-4"></div><div id="ix4ag" class="form-group col-12 col-md-12"><label for="userName" id="ij91o" class="label maintextcolor">Email</label><input type="text" name="userName" value="" placeholder="Please enter email" maxLength="200" id="i7wgq" class="input form-control rounded-4"></div><div id="i9pii" class="form-group col-12 col-md-12"><label for="password" id="i5o7h" class="label maintextcolor">Password</label><input type="password" name="password" value="" placeholder="Please enter password" maxLength="200" id="ilulx" class="input form-control rounded-4"></div><section data-js="drapcode-sections" id="ich2s" class="dc-sections">
        <div class="container"><div class="row"><div id="ib61y" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex align-items-end">
    <div id="ima1d" class="form-group d-flex flex-column col-3"><input type="checkbox" id="dc-checkbox-zMKAeL0Y" name="terms_and_conditions" class="form-check-input dc-checkbox"><label for="dc-checkbox-zMKAeL0Y" id="iimqd" class="form-check-label">I agree to the</label></div><a data-disable-duration="5000" id="i2tvg" class="linktext">Terms and Conditions</a></div></div></div></section><div id="i53id" class="form-group no-border-bottom col-12 col-md-12"><button role="button" type="submit" data-disable-duration="5000" id="ioc68" class="mymain-btn">Signup/Register</button></div></div><hr id="ig30n"></form><div id="iz3xi" class="box d-flex align-items-center gap-2"><h1 id="igfvy" class="text16">Already have an account?</h1><a data-disable-duration="5000" id="ij3mf" data-page-slug="/login" data-selected-page-collection="" target="" href="/login" data-path-collection-item-id-from="" class="linktext">Log In</a></div></div></div><div id="ibgah" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex align-items-center">
    <div id="irsy4" class="box"><img src="https://drapcode-upload.s3.amazonaws.com/2281sa7ii4yeq2m2t04ir75neof3/b0cf49a3-33e9-4902-941c-a5bdcd18de65.jpeg" id="ig1df" class="asset-img img-fluid rounded-5"></div></div></div></div></section>
      <script src='https://drapcode-theme.s3.us-east-1.amazonaws.com/2281sa7ii4yeq2m2t04ir75neof3/bootstrap.bundle.min.js' async defer></script>
      <script type="text/javascript" src="/resources/constant.js"></script>
      <script type="text/javascript" src="/resources/drapcode.min.js"></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/jquery.validate.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/math.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/moment.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/numeral.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/voca.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/additional-methods.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/select2.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/bootbox.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/papaparse.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/flatpickr.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/toastr.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/axios.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/sweetalert2.all.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/js/coloris.min.js" ></script>
      <script type="text/javascript" src="https://asset.drapcode.com/intl-tel-input/intlTelInput-jquery.min.js"></script>
      <script type="text/javascript" src="https://asset.drapcode.com/intl-tel-input/utils.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
      <script type="text/javascript" src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
      <script type="text/javascript" src="/resources/action/emailActions.js"></script>
      <script type="text/javascript" src="/resources/action/smsActions.js"></script>
      <script type="text/javascript" src="/resources/action/fileUploadActions.js"></script>
      <script type="text/javascript" src="/resources/action/modalActions.js"></script>
      <script type="text/javascript" src="/resources/webconnect.js"></script>
      <script type="text/javascript" src="/resources/dataLoader.min.js"></script>
      <script type="text/javascript" src="/resources/drapcode.body.min.js"></script>
      <script type="text/javascript" src="/resources/drapcode.modal.min.js"></script>
      <script type="text/javascript" src="/resources/action/awsSnsActions.js"></script>
      <script type="text/javascript" src="/resources/action/docusignActions.js"></script>
      <script type="text/javascript" src="/resources/action/anyFileToTextActions.js"></script>
      <script type="text/javascript" src="/resources/action/textAnonymizationActions.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
      <script src="https://unpkg.com/@popperjs/core@2"></script>
      <script src="https://unpkg.com/tippy.js@6"></script>
      <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@3.1.0/dist/chartjs-plugin-annotation.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/tinycolor2@1.6.0/cjs/tinycolor.min.js"></script>
      
      <script src='https://drapcode-theme.s3.us-east-1.amazonaws.com/2281sa7ii4yeq2m2t04ir75neof3/18cd4d78-93c6-4911-b0e6-4db0f00b2429_main.js' async defer></script>
      <script src='https://drapcode-theme.s3.us-east-1.amazonaws.com/2281sa7ii4yeq2m2t04ir75neof3/bbb06a2a-65a4-41bf-91cf-c34dda259c1c_moment.min.js' async defer></script>
      <script src='https://drapcode-theme.s3.us-east-1.amazonaws.com/2281sa7ii4yeq2m2t04ir75neof3/a539636e-908b-47ca-9201-30f0a980f4c9_polyfill.js' async defer></script>
      <script src='https://drapcode-theme.s3.us-east-1.amazonaws.com/2281sa7ii4yeq2m2t04ir75neof3/e9755e40-5959-4916-ba78-f75b3440dc54_bootstrap.bundle.min.js' async defer></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/timepicker@1.14.1/jquery.timepicker.min.js"></script>
      <script>for(var items=document.querySelectorAll("#iarkk"),i=0,len=items.length;i<len;i++)!function(){var e=this.tagName;"undefined"!=typeof loadDynamicSelectOptions&&"SELECT"===e&&loadDynamicSelectOptions(this,"")}.bind(items[i])();for(i=0,len=(items=document.querySelectorAll("#ima1d")).length;i<len;i++)!function(){var e=this.tagName;"undefined"!=typeof loadDynamicSelectOptions&&"SELECT"===e&&loadDynamicSelectOptions(this,"")}.bind(items[i])();for(i=0,len=(items=document.querySelectorAll("#dc-checkbox-zMKAeL0Y")).length;i<len;i++)!function(){var e=this.closest(".search-form"),i=this.closest("form");i&&i.closest("[id^=modal-container]")&&(i.setAttribute("data-form-modal",!0),this.setAttribute("data-collection-field",'{"isGenerateIcons":false,"fieldName":"terms_and_conditions","fieldTitle":{"en":"Terms and Conditions"},"placeholder":{"en":"Terms and Conditions"},"type":"boolean","required":false,"validation":{"min":null,"max":null,"regex":"","allowedFileTypes":[],"noAllowedFiles":1},"refCollection":{"collectionName":"","collectionField":"","parentCollectionField":"","displayType":"asRadioOrCheckbox","isShowAsText":false,"isShowAsRadioOrCheckBox":false,"isFileType":false},"extraFieldSetting":{"dateDisplayType":"date","textareaDisplayType":"text-area","algorithm":"","prepend":"","append":"","minLength":1,"defaultValue":""},"staticOptions":[],"unique":false,"isMultiSelect":false,"isPluginField":false,"encrypted":false,"isPrivate":false,"_id":"67067d9af9a1a99b28dc59c8","createdAt":"2024-10-09T12:56:58.396Z","updatedAt":"2024-10-09T12:56:58.396Z"}')),e?"undefined"!=typeof loadSearchFormDynamicSelectOptions&&loadSearchFormDynamicSelectOptions(this,'{"isGenerateIcons":false,"fieldName":"terms_and_conditions","fieldTitle":{"en":"Terms and Conditions"},"placeholder":{"en":"Terms and Conditions"},"type":"boolean","required":false,"validation":{"min":null,"max":null,"regex":"","allowedFileTypes":[],"noAllowedFiles":1},"refCollection":{"collectionName":"","collectionField":"","parentCollectionField":"","displayType":"asRadioOrCheckbox","isShowAsText":false,"isShowAsRadioOrCheckBox":false,"isFileType":false},"extraFieldSetting":{"dateDisplayType":"date","textareaDisplayType":"text-area","algorithm":"","prepend":"","append":"","minLength":1,"defaultValue":""},"staticOptions":[],"unique":false,"isMultiSelect":false,"isPluginField":false,"encrypted":false,"isPrivate":false,"_id":"67067d9af9a1a99b28dc59c8","createdAt":"2024-10-09T12:56:58.396Z","updatedAt":"2024-10-09T12:56:58.396Z"}',""):"undefined"!=typeof loadDynamicSelectOptions&&loadDynamicSelectOptionsForRadio(this,'{"isGenerateIcons":false,"fieldName":"terms_and_conditions","fieldTitle":{"en":"Terms and Conditions"},"placeholder":{"en":"Terms and Conditions"},"type":"boolean","required":false,"validation":{"min":null,"max":null,"regex":"","allowedFileTypes":[],"noAllowedFiles":1},"refCollection":{"collectionName":"","collectionField":"","parentCollectionField":"","displayType":"asRadioOrCheckbox","isShowAsText":false,"isShowAsRadioOrCheckBox":false,"isFileType":false},"extraFieldSetting":{"dateDisplayType":"date","textareaDisplayType":"text-area","algorithm":"","prepend":"","append":"","minLength":1,"defaultValue":""},"staticOptions":[],"unique":false,"isMultiSelect":false,"isPluginField":false,"encrypted":false,"isPrivate":false,"_id":"67067d9af9a1a99b28dc59c8","createdAt":"2024-10-09T12:56:58.396Z","updatedAt":"2024-10-09T12:56:58.396Z"}',"","")}.bind(items[i])();</script>
      <script>$("#vDNo").validate({rules:{name:{required:!0},password:{required:!0},userName:{required:!0},terms_and_conditions:{required:!0}},messages:{name:{required:"Enter Value"},password:{required:"Enter Value"},userName:{required:"Enter Value"},terms_and_conditions:{required:"You must agree to the Terms and Conditions!"}}});</script>
  </body>
</html>